<!-- Nav Bar -->
<header class="header">
<nav class="navbar">
    <div class="logo" onclick="darkModeToggle()">☀️</div>
    <ul class="nav-list">
    {% if page.active == 'about' %}
        <li class="nav-item"><a href="" class="nav-link">about</a></li>
    {% else %}
        <li class="nav-item"><a href="/" class="nav-link">about</a></li>
    {% endif %}

    {% if page.active == 'projects' %}
        <li class="nav-item"><a href="" class="nav-link">projects</a></li>
    {% else %}
        <li class="nav-item"><a href="/projects" class="nav-link">projects</a></li>
    {% endif %}

    {% if page.active == 'resume' %}
        <li class="nav-item"><a href="./assets/Ashutosh_Resume.pdf" target="_blank" class="nav-link">resume</a></li>
    {% else %}
        <li class="nav-item"><a href="./assets/Ashutosh_Resume.pdf" target="_blank" class="nav-link">resume</a></li>
    {% endif %}
    </ul>
</nav>
</header>