.navbar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.logo {
    font-size: 32px;
    padding: 0px 0px 0px 16px;
    cursor: pointer;
}

ul.nav-list {
    list-style-type: none;
}

li.nav-item {
    display: inline-flex;
    padding: 16px 64px 16px 0px;
}

a.nav-link {
    font-size: 20px;
    font-family: 'Montserrat';
    text-decoration: none;
}

a.nav-link:hover {
    font-weight: bold;
}

@media only screen and (max-width: 550px) {
    .navbar {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: none;
    }

    li.nav-item {
        padding: 16px 16px 16px 16px;
    }
}

@media only screen and (max-width: 320px) {
    li.nav-item {
        padding: 16px 8px 16px 8px;
    }
}
