@media screen and (min-width: 841px) {
    .list_container {
        columns: 3;
        width: 800px;
        gap: 1em;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .list_item {
        width: 256px;
        min-height: 350px;
        margin-bottom: 1em;
        background-color: white;
        box-shadow: 2em;
    }

    .list_item_link {
        display: inline-flex;
        flex-flow: column nowrap;
        text-decoration: none;
        color: #333;
    }

    .list_item_link img {
        max-width: 100%;
        border: 2px solid black;
    }

    .list_item_description_container {
        width: 250px;
    }

    .list_item_description_container h3 {
        font-size: 25px;
        text-align: left;
        padding: 16px;
    }
}

@media screen and (max-width: 840px) {
    .list_container {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 32px;
    }
    .list_item {
        width: inherit;
        min-height: fit-content;
        background-color: white;
        margin-bottom: 16px;
        box-shadow: 2em;
    }

    .list_item_link {
        display: flex;
        flex-flow: row nowrap;
        text-decoration: none;
        color: #333;
    }

    .list_item_link img {
        border: 2px solid black;
        max-width: 30%;
    }

    .list_item_description_container h3 {
        font-size: 18px;
        text-align: justify;
        padding: 8px 16px;
    }
}